*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
header{
    margin: 10px 0px;
    
}
a{
    text-decoration: none;
color: black;
padding: 10px;
}

span.gmail{
    float: right;
}
span.about{
    float: left;
}
#app{
    vertical-align: middle;
   
}
#sign{
    border: 1px;
    background-color:#4385f4 ;
    padding: 10px 15px;
    margin-right: 10px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
#google{
    width: 40%;
   height: 100px;}

.button:hover{
    cursor:pointer;
}
body{
    text-align: center;
    
}
form{
    padding: 20px;
    width: 50%;
    
    display: inline-block;
    margin-top: 100px;

}



.but{
    border-radius: 4px;
    padding: 8px;
    width: 10rem;
    margin: 16px;
    border: none;
}
img.mic1{
    width: 20px;
    height: 25px;
    margin-right: 100px;
   
}
img.mic2{
    width: 20px;
    height: 25px;
    margin-left: 100px;
    padding: 0px;
}

img.mic1:hover{
    cursor: pointer;
}

#text{
    
    width:300px;
    border: none;
    text-align: center;
    display:inline-block
}
.sear{
    border: 1px solid rgb(153, 149, 149);
    border-radius: 30px;
    padding-bottom: 6px;
    width: 80%;
    display: inline-block;
    text-align: center;
   
}